body {
        color: white;
        background: black;
        margin: 0px;
    }
    
    header {
        border-bottom: solid 2px rgb(150, 122, 228);
        padding: 80px;
        font-size: 80px;
        color: rgb(150, 122, 228);
        display:flex;
        justify-content: center;
    }